/*
Error: Invalid CSS after "...kground-color: ": expected expression (e.g. 1px, bold), was ";"
        on line 17 of _sass/longform.scss
        from line 44 of _sass/application.scss

12: $lf-page-margin-h: 0;
13: 
14: $lf-line-height: 1.5;
15: 
16: %is-inverted {
17:   background-color: ;
18: }
19: 
20: %is-indented {
21: 
22: 

Backtrace:
_sass/longform.scss:17
_sass/application.scss:44
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:1165:in `expected'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/script/lexer.rb:220:in `expected!'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/script/parser.rb:573:in `assert_expr'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/script/parser.rb:62:in `parse'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:1027:in `sass_script'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:880:in `value!'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:753:in `block in try_declaration'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:1141:in `call'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:1141:in `rethrow'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:766:in `try_declaration'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:661:in `block_child'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:642:in `block'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:660:in `block_child'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/scss/parser.rb:42:in `parse'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/engine.rb:393:in `_to_tree'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/engine.rb:299:in `to_tree'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:88:in `block in with_import'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:88:in `with_import'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:415:in `run'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/exec/base.rb:52:in `parse'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/lib/sass/exec/base.rb:19:in `parse!'
/Users/studio/.rvm/gems/ruby-2.1.5/gems/sass-3.4.11/bin/sass:13:in `<top (required)>'
/Users/studio/.rvm/gems/ruby-2.1.5/bin/sass:23:in `load'
/Users/studio/.rvm/gems/ruby-2.1.5/bin/sass:23:in `<main>'
/Users/studio/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/Users/studio/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...kground-color: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 17 of _sass/longform.scss\A         from line 44 of _sass/application.scss\A \A 12: $lf-page-margin-h: 0;\A 13: \A 14: $lf-line-height: 1.5;\A 15: \A 16: %is-inverted {\A 17:   background-color: ;\A 18: }\A 19: \A 20: %is-indented {\A 21: \A 22: "; }
